* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
}

/* side bar style */
nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    background: #003366;
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

nav .profile {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #004080;
}

nav .profile .material-icons {
    font-size: 80px;
    color: #fff;
}

nav .profile h1 {
    font-size: 1.5rem;
    color: #fff;
}

nav .profile .detail {
    font-size: 0.8rem;
    color: #fff;
}

nav div .menu {
    display: block;
    padding: 15px 25px;
    color: #fff;
    font-size: 18px;
    transition: background 0.3s, padding-left 0.3s;
    border-bottom: 1px solid #004080;
}

nav div:first-of-type .menu:first-of-type {
    border-top: 1px solid #004080;
}

nav div .menu:hover {
    background: #0059b3;
    padding-left: 35px;
}

/* serch bar stye */

.search {
    display: flex;
    align-items: center;
    z-index: 3;
    position: relative;
    justify-content: start;
    width: 30%;
    min-height: 50px;
    background: #c9c8c8ff;
    box-shadow: none;
    border-radius: 26px;
    margin: 30px auto;
    padding-left: 20px;
}

/* search logo */
.search i {
    color: #333;
    font-size: 20px;
}