* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    background: #003366;
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

nav .profile {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #004080;
}

nav .profile .material-icons {
    font-size: 80px;
    color: #fff;
}

nav .profile h1 {
    font-size: 1.5rem;
    color: #fff;
}

nav .profile .detail {
    font-size: 0.8rem;
    color: #fff;
}

nav div .menu {
    display: block;
    padding: 15px 25px;
    color: #fff;
    font-size: 18px;
    transition: background 0.3s, padding-left 0.3s;
    border-bottom: 1px solid #004080;
}

nav div:first-of-type .menu:first-of-type {
    border-top: 1px solid #004080;
}

nav div .menu:hover {
    background: #0059b3;
    padding-left: 35px;
}

.content {
    margin-left: 250px;
    padding: 40px;
}

.recomendation {
    margin-top: 40px;
    padding-bottom: 10px;
}

.recomendation h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #003366;
}

.recomendation-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 15px;
    overflow-x: auto;
    padding-top: 15px;
}

.recomendation-card {
    flex: 0 0 180px;
    width: 180px;
    height: 270px;
    background-color: #f9f9f9;
    border: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    box-shadow: 0.4em 0.3em 0.7em 0.3em darkgray;
    margin-left: 7px;
}

.recomendation-card:hover {
    transform: scale(1.035, 1.035);
    
}

.recomendation-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}